@model PaintByNumbersProject.Models.ImageModel

@{
    ViewData["Title"] = "Details";
}
<style>
.img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
</style>
<div>
    <h4>Details of the Image</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
    </dl>
<div>
    <a asp-action="Index">Back to List</a>
</div>
    <div class="row">
        <img src="/Image/@Model.ImageName" loading="lazy" alt="Image with name @Model.Title">
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
